.mobile-window-container {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  background-color: #111827;
  z-index: 100;
  overscroll-behavior: none;
}

.mobile-window-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.8);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  user-select: none;
  flex-shrink: 0;
}

.desktop-window-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #111827;
  border-radius: 0.5rem;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(217, 119, 6, 0.4);
  overflow: hidden;
}
.desktop-window-container.maximized {
  border-radius: 0;
}

.desktop-window-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2.5rem;
  background-color: rgba(0, 0, 0, 0.7);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  cursor: move;
  user-select: none;
}

.window-content-area {
  flex-grow: 1;
  padding: 1rem;
  overflow: auto;
  background-color: #1f2937;
  color: #e5e7eb;
  overscroll-behavior: contain;
}

.window-content-area.blog-window {
  padding: 0;
  background-color: transparent;
}

/* Resizers para redimensionamento de janela no desktop */
.resizer {
  position: absolute;
  user-select: none;
}

/* Bordas */
.resizer-n {
  top: 0;
  left: 8px;
  right: 8px;
  height: 5px;
  cursor: n-resize;
  z-index: 10;
}
.resizer-s {
  bottom: 0;
  left: 8px;
  right: 8px;
  height: 5px;
  cursor: s-resize;
  z-index: 10;
}
.resizer-e {
  top: 8px;
  bottom: 8px;
  right: 0;
  width: 5px;
  cursor: e-resize;
  z-index: 10;
}
.resizer-w {
  top: 8px;
  bottom: 8px;
  left: 0;
  width: 5px;
  cursor: w-resize;
  z-index: 10;
}

/* Cantos */
.resizer-nw {
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  cursor: nw-resize;
  z-index: 11;
}
.resizer-ne {
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  cursor: ne-resize;
  z-index: 11;
}
.resizer-sw {
  bottom: 0;
  left: 0;
  width: 10px;
  height: 10px;
  cursor: sw-resize;
  z-index: 11;
}
.resizer-se {
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  cursor: se-resize;
  z-index: 11;
}

/* Evitar que iframes roubem eventos de mouse durante o arraste ou redimensionamento */
body.window-moving iframe {
  pointer-events: none !important;
}
